<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='/static/stylesheets/rooms.css' />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous" />
    </head>
    <body>
        <header>
            <div class="header_wrapper">
                <div class="header_loggo"><a class="loggo" href="/rooms" style="text-decoration:none">Live Class</a></div>
                <div class="header_nickName">
                    <% if (user) { %>
                        <%= user.name %>
                        <script>
                            const userName = "<%= user.name %>";
                            </script>
                    <% }else{%>
                        <%= "Guest" %>
                        <script>
                            const userName = "Guest";
                            </script>
                    <% } %>
                </div>
                <div class="header_email">
                    <% if (user) { %>
                        <%= user.email %>
                        <script>
                            const cur_email = "<%= user.email %>";
                            </script>
                    <% }else{%>
                        <%= "Guest"%>
                        <script>
                            const cur_email = "Guest";
                            </script>
                    <% } %>
                </div>
            </div>
        </header>
        <div class="main-container">
            <div id="roomsContainer">
                <% Object.keys(rooms).forEach(room => { %>
                    <div id="room-block">
                        <div><%= room %></div>
                        <div>Builder : <%= rooms[room].builder %></div>
                        <a href="/<%= room %>" class="myButton">Join</a>
                    </div>
                <% }) %>
            </div>
            <div class="form-container">
                <form class="newroom-form" action="/room" method="POST">
                    <input name="room" type="text" required>
                    <button type="submit">New Room</button>
                </form>
            </div>
            <div id="classContainer">
                <% Object.keys(classes).forEach(className => { %>
                    <div id="room-block">
                        <div><%= className %></div>
                        <div>Builder : <%= classes[className].builder %></div>
                        <a href="/<%= className %>/class" class="myButton">Join</a>
                    </div>
                <% }) %>
            </div>
            <div class="form-container">
                <form class="newclass-form" action="/class" method="POST">
                    <input name="class" type="text" required>
                    <button type="submit">New class</button>
                </form>
            </div>
        </div>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
        <script type="text/javascript" src="/static/rooms.js"></script>
        
    </body>
</html>